html {
}

body {
  margin: 0;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.game-area__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.game-area__buttons__button {
  margin: 0 5px;
  flex: 1;
  color: white;
  background-color: rgb(113, 113, 241);
  border: 1px solid silver;
  padding: 10px 2px;
}

.game-area__buttons__button:disabled {
  background-color: grey;
}

.game-area__timer {
  display: flex;
  visibility: hidden;
}

.game-area__timer_visible {
  visibility: visible;
}

.game-area__timer__inner {
  display: inline-block;
  margin: 5px 5px;
}

.game-area__puzzle {
  display: grid;
  width: 40%;
  grid-auto-rows: 1fr;
  background-color: #437299;
}

.game-area__puzzle_hide {
  display: none;
}

.game-area__puzzle::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.game-area__puzzle > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.game-area__puzzle_3 {
  grid-template-columns: auto auto auto;
}

.game-area__puzzle_4 {
  grid-template-columns: auto auto auto auto;
}

.game-area__puzzle_5 {
  grid-template-columns: auto auto auto auto auto;
}

.game-area__puzzle_6 {
  grid-template-columns: auto auto auto auto auto auto;
}

.game-area__puzzle_7 {
  grid-template-columns: auto auto auto auto auto auto auto;
}

.game-area__puzzle_8 {
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.game-area__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.game-area__puzzle__puzzle-cell {
  position: relative;
  background-color: rgb(136, 69, 69);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.game-area__puzzle__puzzle-cell-cover {
  position: absolute;
  cursor: pointer;
  user-select: none;
  z-index: 1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  outline: solid 2px rgb(60, 17, 100);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.game-area__puzzle__puzzle-cell_empty {
  background-color: rgb(136, 69, 69);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.game-area__options__chose-dimension {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.game-area__options__chose-dimension_specificSize {
  margin: 0 5px;
  cursor: pointer;
  color: blue;
}

@keyframes moveleft {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes moveright {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveup {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@keyframes movedown {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

@media only screen and (max-width: 1019px){
  .game-area__puzzle{
    width: 80%;
  }
  .game-area__buttons{
    width: 80%;
  }

} 

@media only screen and (max-width: 767px){
  .game-area__puzzle{
    width: 98%;
  }
  .game-area__puzzle__puzzle-cell-cover{
    font-size: 20px;
  }
  .game-area__buttons{
    width: 98%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .game-area__buttons__button{
    font-size: 11px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 49%;
    flex: none;
  }
  .game-area__puzzle__puzzle-cell {
    padding: 10px;
  }
  .game-area__puzzle__puzzle-cell-cover {
    padding: 10px;
  }
  
  .game-area__puzzle__puzzle-cell_empty {
    padding: 10px;
  }
} 
